.saat {
  width: 30%;
  font-size: 100px;
  text-align: center;
  font-size: 6vw;
  color: black;
  margin-left: 70%;
  margin-right: 30%;
}

.seviye{
    
    margin-left: 22%;
    margin-right: auto;
}
