
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="saat">{{saat}}</div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="seviye">
            <button type="button" class="btn btn-danger" (click)="arttir(3600)">Saat +</button>
            <button type="button" class="btn btn-success" (click)="arttir(-3600)">Saat -</button>
            <button type="button" class="btn btn-danger" (click)="arttir(60)">Dakika +</button>
            <button type="button" class="btn btn-success" (click)="arttir(-60)">Dakika -</button>
            <button type="button" class="btn btn-danger" (click)="arttir(1)">Saniye +</button>
            <button type="button" class="btn btn-success" (click)="arttir(-1)">Saniye -</button>
        </div>
    </div>
    
</div>





